<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor URL</title>
  </head>
  <body>
    {% extends "template.html" %} <!-- this is the template that we are extending -->
    {% block content %} <!-- this is the content that we are adding to the template -->
    
      <h1 style="text-align: center; background-color: orange;">URL the tiny shortener.</h1>
      <form method="post" action="/" style="border: 3px solid gray; border-radius: 5px; max-width: 500px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; justify-content: center">
        <label for="url" style="margin-bottom: 10px; max-width: 350px; background-color: white;">Enter an https:// URL:</label>
        <input type="url"
          name="url"
          id="url"
          placeholder="https://www.github.com"
          pattern="https://.*"
          size="50"
          value="{{old_url}}"
          required
          style="margin-bottom: 10px; width: 50%"
        >
        <br>
        <label style="margin-bottom: 10px; background-color: white;">Generated URL: </label>
        <input name="generated_url" value="{{new_url}}" style="margin-top: 10px; width: 50%" size="50"></input>
        <button type="submit" value="submit" style="margin-top: 10px; background-color: black; color: white; width: calc(50% + 25px)">Submit</button>
      </form>
    
    {% endblock %} <!-- this is the end of the content that we are adding to the template -->
  </body>
</html>
